/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsla(0, 17%, 92%, 0.623);
    --container-color: hsl(0, 0%, 100%);
    --hue: 210;
    --saturation: 50%;
    --lightness: 40%;
    --_size: .9rem;
    --_transitionSpeed: 600ms;
    --bg: 240, 100%, 98%;
    --accent: 210, 80%, 60%;
    --body-font: "Poppins", sans-serif;
    --div-font-size: 1.25rem;
    --small-font-size: .813rem;
}

body {
    background: hsl(var(--body-color));
    overflow: hidden;
    position: relative;
    font-family: var(--body-font);
}

.rain {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100vh;
    background: whitesmoke;
    animation: fall .5s linear infinite;
    z-index: -3;
    box-shadow:
        .05em .1em .9em black,
        0 0 0 -.1em black,
        0 0 0 -.2em rgb(235, 228, 228);
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.rain:nth-child(2) {
    left: 55%;
    animation-duration: 0.75s;
}

.rain:nth-child(3) {
    left: 45%;
    animation-duration: 1s;
}

.rain:nth-child(4) {
    left: 52%;
    animation-duration: 1.25s;
}

.rain:nth-child(5) {
    left: 63%;
    animation-duration: 1.25s;
}

.rain:nth-child(6) {
    left: 20%;
    animation-duration: 1s;
}

.rain:nth-child(7) {
    left: 15%;
    animation-duration: 0.75s;
}

.rain:nth-child(8) {
    left: 22%;
    animation-duration: 1.25s;
}

.rain:nth-child(9) {
    left: 70%;
    animation-duration: 1s;
}

.rain:nth-child(10) {
    left: 80%;
    animation-duration: 0.75s;
}

.rain:nth-child(11) {
    left: 90%;
    animation-duration: 1s;
}

.rain:nth-child(12) {
    left: 95%;
    animation-duration: 1.25s;
}

.rain:nth-child(13) {
    left: 100%;
    animation-duration: 0.75s;
}

.rain:nth-child(14) {
    left: 1%;
    animation-duration: 1s;
}

/*=============== GRID STUFF ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

img {
    display: block;
    max-width: 250%;
    height: auto;
}

button {
    cursor: pointer;
    font-size: var(--_size);
    display: flex;
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
    color: hsl(var(--bg));
    padding: .1em 1.4em;
    border-radius: .7em;
    box-shadow:
        .05em .1em .9em hsl(var(--accent) / .7),
        0 0 0 -.1em hsl(var(--bg)),
        0 0 0 -.2em hsl(var(--accent));
    transition:
        box-shadow var(--_transitionSpeed) cubic-bezier(0.66, -0.2, 0.27, 1.15),
        background-color var(--_transitionSpeed) cubic-bezier(0.66, -0.2, 0.27, 1.15);
}

button:where(:active, :hover) {
    background-color: hsl(var(--accent));
}

a {
    cursor: pointer;
    font-size: var(--_size);
    display: flex;
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
    color: hsl(var(--bg));
    padding: .1em 1.4em;
    border-radius: .7em;
    box-shadow:
        .05em .1em .9em hsl(var(--accent) / .7),
        0 0 0 -.1em hsl(var(--bg)),
        0 0 0 -.2em hsl(var(--accent));
    transition:
        box-shadow var(--_transitionSpeed) cubic-bezier(0.66, -0.2, 0.27, 1.15),
        background-color var(--_transitionSpeed) cubic-bezier(0.66, -0.2, 0.27, 1.15);
}

a:where(:active, :hover) {
    background-color: hsl(var(--accent));
}

.master-container {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
    gap: 3em
}

.grid-header {
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-rows: repeat(1, 100px);
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    width: 90%;
    height: 80%;
    margin-top: 20px;
    gap: 2rem;
    border-radius: .8em;
    box-shadow:
        .1em .8em 2em black,
        0 0 0 .9em rgb(139, 100, 47),
        .2em .3em 2em .9em rgb(153, 64, 5);
}

.item-header {
    align-self: center;
    justify-self: center;
}

.grid-players {
    grid-area: 2 / 1 / 6 / 2;
    display: grid;
    grid-template-rows: repeat(4, 130px);
    grid-template-columns: 50px;
    width: 120%;
    height: 85%;
    row-gap: 3.5rem;
    border-radius: .2%;
    margin-left: 14%;
    box-shadow:
        .1em .8em 2em black,
        0 0 0 .9em rgb(139, 100, 47),
        .2em .3em 2em .9em rgb(153, 64, 5);
}

.grid-main {
    grid-area: 2 / 2 / 7 / 6;
    display: grid;
    grid-template-rows: repeat(5, 130px);
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(179, 187, 189);
    width: 90%;
    height: 70%;
    margin-left: 2%;
    border-radius: 10%;
    box-shadow:
        .1em .8em 2em black,
        0 0 0 .9em rgb(139, 100, 47),
        .2em .3em 2em .9em rgb(153, 64, 5);
}

.game-items-overlay {
    z-index: 1;
}

.item-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
}

.shovel {
    position: absolute;
    top: 500px;
    right: 1100px;
    width: 70px;
    height: 70px;
}

.keybox {
    position: absolute;
    top: 450px;
    left: 240px;
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

.oxygenMasks {
    position: absolute;
    top: 480px;
    right: 700px;
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

.journal {
    position: absolute;
    top: 700px;
    right: 400px;
    width: 60px;
    height: 60px;
    border-radius: 30%;
}

.rockPile {
    position: absolute;
    top: 650px;
    right: 1500px;
    width: 200px;
    height: 200px; 
    border-radius: 30%;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

.grid-footer {
    grid-area: 5 / 3 / 6 / 5;
    display: grid;
    grid-template-rows: repeat(1, 60px);
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 40%;
    margin-left: -24%;
    margin-top: -4%;
    border-radius: .7em;
    box-shadow:
        .1em .8em 2em black,
        0 0 0 .9em rgb(139, 100, 47),
        .2em .3em 2em .9em rgb(153, 64, 5);
}

.gameContentText {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    font-family: monospace;
    font-size: 103%
}

#mainScreenImage {
    margin: auto;
    width: 100%;
    height: 560%;
    border-radius: 10%;
}